
{% extends "layout.html" %}
{% block content %}
<div class="w-200 bg-yellow-700 m-auto mt-20 p-20 text-white hover:bg-yellow-800 hover:shadow-2xl shadow-gray-500 transition-all duration-300 mb-20">
  <form action="">

    <div class="flex justify-between">
      <div class="flex gap-2">
        <h1 class="text-2xl">Name</h1><input class="bg-white text-black p-1 rounded" type="text" placeholder="John Wick">
      </div>
      <div class="flex gap-2">
        <h1 class="text-2xl">Email</h1><input class="bg-white text-black p-1 rounded" type="text" pattern=".+@.+\..+" placeholder="xyz@gmail.com" required>
      </div>
    </div>
    <div class="flex justify-between mt-7 mb-5  m-auto ">
      <div class="flex gap-2">
        <h1 class="text-2xl">Phone#</h1><input class="bg-white text-black p-1 rounded " type="phone2numeric" placeholder="03XX-XXXXXXX">
      </div>
      <div class="flex gap-2">
        <h1 class="text-2xl">Subject</h1><input class="bg-white text-black p-1 rounded " type="Text" >
      </div>

    </div>
    <div class="w-10">
      <h1 class="text-2xl">Description</h1>
      <textarea class="bg-white mt-2 text-black p-3 rounded" name="Detail" id="" cols="85" rows="10"></textarea>
    </div>
    <div class="w-166 mt-10 ">
      <button class="text-2xl text-center m-auto text-black p-2 rounded bg-white w-[100%] hover:bg-gray-400 font-bold hover:cursor-pointer transition-all duration-300">SUBMIT</button>
    </div>

  </form>
</div>
{% endblock %}