<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LATTE CHOICE</title>
  </head>
  <body>
    <h1>chose the cup size</h1>
    <input type="radio" name="size" value="small" />Small
    <input type="radio" name="size" value="medium" />Medium
    <input type="radio" name="size" value="large" />Large
    <br />
    <input id="bt-order" onclick="thankyou()" type="submit" value="ORDER " />
  </body>
</html>

<script>
  let bt_or = document.getElementById("bt-order");
  function thankyou() {
    bt_or.textContent = "THANKYOU";
  }
</script>
